* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  height: 100%;
  position: relative;
}

.background-img {
  display: block;
  height: 50%;
  max-height: 42rem;
  width:100%;
  max-width: 153.6rem;
  border: none;
  position: absolute;
  bottom: 0;
  margin-left:auto;
  margin-right:auto;
  background-repeat: no-repeat;
  background-image: url(images/bg-desktop.png);
}


.container{
  display:flex;
  flex-direction:row;
  gap:2.6rem;
  justify-content: center;
  position:relative;
  top:50%;
  transform: translate(0, -50%);
  
}

.fylo{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: hsl(228,45%, 44%);
  height: 18rem;
  width: 30rem;
  border-top-right-radius: 60px;
  padding: 2.5rem;
  /* position:relative;
  top:50%;
  left:25%;
  transform:translate(0, -50%); */
}

.logo{
  grid-column:1 / -1;
}

.frame{
height: 4rem;
width: 4rem;
border-radius: 9px;
background-color: hsl(229, 57%, 11%);
text-align: center;

}

.icon{
margin-top: 50%;
margin-bottom: 50%;
transform: translate(0, -50%);
}


.data{
background-color: hsl(228,45%, 44%);
}

.data{
  color:hsl(243, 100%, 93%);
  font-size: 1.4rem;
  width:50rem;
  height:12rem;
  border-radius: 9px;
  padding:2.5rem;
  align-self: flex-end;
  position: relative;
}

.text{
  margin-bottom: 1.6rem;
}

.text-span{
  font-weight: 700;
}

.usage{
  height: 1.6rem;
  width:100%;
  background-color:hsl(229, 57%, 11%);
  border-radius:50px;
  margin-bottom: 1rem;
}

.measure{
  height:1.5rem;
  width:81.5%;
  background: linear-gradient(to right,hsl(6,100%,80%), hsl(335,100%,65%));
  border-radius: 50px;
  position:relative;
}

.circle{
  fill:hsl(0,0%,100%);
  position:absolute;
  right:0;
}

.figures{
  display:flex;
  justify-content: space-between;
}

.label{
  display: flex;
  gap: 0.5rem;
  height: 6rem;
  width: 14.6rem;
  padding:1rem;
  background-color: hsl(0,0%,100%);
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  position:absolute;
  top: 10%;
  left: 63%;
  z-index: 2;
}

/* .triangle{
  fill:hsl(0,0%,100%);
  height: 6rem;
  width: 6rem;
  transform: rotate(152deg);
  position: relative;
  top:30%;
  right: 155%;
  z-index: 1;
} */

.fig{
  font-size: 4rem;
  font-weight: 700;
  color:hsl(229, 57%, 11%);
}

.left{
  font-size: 1rem;
  color:hsl(229,7%,55%);
  font-weight: 700;
}

