* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  height: 100%;
  position: relative;
}

.background-img {
  display: block;
  height: 50%;
  max-height: 42rem;
  width:100%;
  max-width: 144rem;
  border: none;
  position: absolute;
  bottom: 0;
  margin-left:auto;
  margin-right:auto;

}
